[mysqld]
datadir=/home/jericho/zion/projects/geometry_os/geometry_os/wordpress_zone/mariadb_data
socket=/home/jericho/zion/projects/geometry_os/geometry_os/wordpress_zone/mariadb_local/mysql.sock
pid-file=/home/jericho/zion/projects/geometry_os/geometry_os/wordpress_zone/mariadb_local/mysql.pid
port=3306
skip-networking
bind-address=127.0.0.1
